.main
  .top
    .top__main-title
      チャットパーティ
    .top__sub-title
      サブタイトル
  =link_to new_user_registration_path, class: "signup" do
    登録して利用開始する
  =link_to "ログイン", new_user_session_path, class: "login"