@font-face {
  font-family: 'Donau';
  src: font-url('DonauUppercase-Neue.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@import "reset";
@import 'font-awesome-sprockets';
@import 'font-awesome';
@import "chats";
@import "home";
@import "shared";
@import "show";
